@using System.Web.Optimization
@using System.Web
@model BlockBuster.ViewModels.CustomerFormViewModel

@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/lib/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>*@

<h2>New Customer</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        <div class="col-cs-2">
            @Html.LabelFor(c => c.Customer.Name)
            @Html.TextBoxFor(c => c.Customer.Name, new { @class="form-control", @id="ex1"})
            @Html.ValidationMessageFor(c => c.Customer.Name)
        </div>
        <div class="col-cs-2">
            @Html.LabelFor(c => c.Customer.Birthdate)
            @Html.TextBoxFor(c => c.Customer.Birthdate, "{0:d MMM yyy}", new { @class="form-control", @id="ex1" })
            @Html.ValidationMessageFor(c => c.Customer.Birthdate)
        </div>
        <div class="col-cs-2">
            @Html.LabelFor(c => c.Customer.MembershipTypeID)
            @Html.DropDownListFor(c => c.Customer.MembershipTypeID, new SelectList(Model.MembershipTypes, "ID", "Name"), "Select Membership Type", new { @class="form-control", @id="ex1" })
@*            @Html.ValidationMessageFor(c => c.Customer.MembershipTypeID)*@
        </div>
    </div>
    <div class="checkbox">
        <label>
            Subscribe to Newsletter? @Html.CheckBoxFor(c => c.Customer.IsSubscribed)
            @Html.ValidationMessageFor(c => c.Customer.IsSubscribed)

        </label>
    </div>
    @Html.HiddenFor(c => c.Customer.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@*@section scripts
{
    @Html.Raw(Scripts.Render("~/lib/jquery-validation/dist/jquery.validate.js"))
    @Scripts.Render("~/lib/jquery-validation/dist/jquery.validate.js")
}*@