@model BlockBuster.ViewModels.MovieFormViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        <div class="col-cs-2">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class="form-control", @id="ex1"})
            @Html.ValidationMessageFor(m => m.Name)

        </div>
        <div class="col-cs-2">
            @Html.LabelFor(m => m.ReleaseDate)
            @Html.TextBoxFor(m => m.ReleaseDate, "{0:d MMM yyy}", new { @class="form-control", @id="ex1" })
            @Html.ValidationMessageFor(m => m.ReleaseDate)
        </div>
        <div class="col-cs-2">
            @Html.LabelFor(m => m.GenreID)
            @Html.DropDownListFor(m => m.GenreID, new SelectList(Model.Genres, "Id", "Type"), "Select Genre", new { @class="form-control", @id="ex1" })
            @Html.ValidationMessageFor(m => m.GenreID)
        </div>
        <div class="col-cs-2">
            @Html.LabelFor(m => m.Stock)
            @Html.TextBoxFor(m => m.Stock, new { @class="form-control", @id="ex1"})
            @Html.ValidationMessageFor(m => m.Stock)
        </div>
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}